*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #000;
    /* background: linear-gradient(180deg, #fcfcfc, #c8102e); 
    background: linear-gradient(180deg, #fcfcfc, #c8102e);  sfondo gradiente 
    border-left: 100px solid white;*/
    color: #ffffff;
    padding-top: 80px;
    min-height: 100vh; 
}

.contenitore{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    background-color: #111;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(255,255,255,0.05);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0,0,0,0.8);
  z-index: 1000;
}

.nav-btn {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 8px 14px;
  border-radius: 8px;
  transition: all 0.2s;
}

.nav-btn:hover {
  background: #ffffff;
  color: #000;
}

.immagine-profilo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
  margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

.icon {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.icon img {
    width: 45px;   
    height: 45px;
    object-fit: cover;
    border-radius: 25%;
    border: 2px solid #fff;
    transition: transform 0.2s;
}

.icon img:hover {
  transform: scale(1.2);
}

.lista{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista a {
  display: block;
  background: #1d428a;
  color: #fff;
  text-decoration: none;
  padding: 14px;
  border-radius: 30px;
  font-weight: 500;
  transition: transform 0.2s, box-shadow 0.2s;
}

.lista a:hover{
    box-shadow: 0 8px 15px rgba(255,255,255,0.2);
    transform: translateY(-3px);
}

.instagram, .tiktok, .youtube, .facebook, .twitter, .snapchat {
    padding: 20px;
    margin: 10px;
    width: 400px;
    height: 75px;
    background-color: #181818;
    border-radius: 15px;
    border: 1px solid #333;
}

a {
    color: #ffffff;
    text-decoration: none;
}
